<header class="article-info clearfix">
  <h1 itemprop="name">
    {% if item.link %}
      <a href="{{ item.link }}" target="_blank" title="{{ item.title }}">{{ item.title }}</a>{% else %}
      <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.title }}" itemprop="url">{{ item.title }}</a>{% endif %}
  </h1>
  <p class="article-author">By
    {% if item.authorlink %}
		<a href="{{ item.authorlink }}" title="{{ site.author.name }}" target="_blank" itemprop="author">{{ item.author }}</a>
		{% else %}
		<a href="{{ item.authorlink }}" title="{{ site.author.name }}" target="_blank" itemprop="author">{{ item.author }}</a>
		{% endif %}
  <p class="article-time">
    <time datetime="{{ item.date }}" itemprop="datePublished"> {{ lang.datepublished }} {{ item.date | date: "%F" }}</time>
    
  </p>
</header>